.section-about {
  background-color: $gray-light-1;
  padding: 24rem 0 28rem 0;
  -webkit-margin-before: -16vh;
  margin-block-start: -16vh;
}

.section-features {
  padding: 24rem 0;
  -webkit-margin-before: -8rem;
  margin-block-start: -8rem;
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from($green-light-80),
      to($green-dark-80)
    ),
    url("../assets/nat-4.jpg");
  background-image: linear-gradient(to right, $green-light-80, $green-dark-80),
    url("../assets/nat-4.jpg");
  background-size: cover;
  background-position: center;
  -webkit-transform: skewY(-4.8deg);
  transform: skewY(-4.8deg);

  & > * {
    -webkit-transform: skewY(4.8deg);
    transform: skewY(4.8deg);
  }
}
