.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns:
    [sidebar-start] 6.4rem [sidebar-end full-start] minmax(
      6.4rem,
      1fr
    ) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6.4rem, 1fr) [full-end];
}

.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
}

.header {
  grid-column: full-start / col-end 6;
  background-color: $color-grey-dark-2;
}

.homes {
  background-color: $color-grey-dark-2;
  grid-column: center-start / center-end;
}

.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  color: $color-grey-light-2;
}
