.container {
  display: grid;
  grid-template-rows: 80vh min-content minmax(min-content, 40vw) repeat(
      3,
      min-content
    );
  grid-template-columns:
    [sidebar-start] 6.4rem [sidebar-end full-start] minmax(6.4rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6.4rem, 1fr) [full-end];
}

.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
}

.header {
  grid-column: full-start / col-end 6;
  background-color: $color-grey-dark-2;
}

.homes {
  grid-column: center-start / center-end;
  margin: 16rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-gap: 6.4rem;
}

.home-card {
  background-color: $color-grey-light-1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.2rem;

  &__img {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    color: $color-primary-dark;

    &--like {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      fill: $color-primary-dark;
      justify-self: end;
      margin: 1rem;
    }
  }

  &__title {
    background-color: $color-secondary;
    color: hsl(0, 0%, 100%);
    font-family: $font-display;
    text-align: center;
    font-weight: 500;
    padding: 1.2rem;
    font-size: 1.6rem;
    width: 80%;
    align-self: end;
    justify-self: center;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    transform: translateY(50%);
  }

  &__detail {
    display: flex;
    align-items: center;
    padding-inline-start: 2.1rem;

    svg {
      margin-inline-end: 0.8rem;
    }

    p {
      font-size: 1.5rem;
    }

    &--location,
    &--rooms {
      margin-block-start: 2.4rem;
    }
  }

  .btn {
    grid-column: 1 / -1;
  }
}

.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  color: $color-grey-light-2;
  padding: 7.2rem 6.4rem;

  &__copyright {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5rem;
  }
}

.footer-nav {
  list-style: none;
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  // grid-gap: 1.6rem;
  // align-items: center;
  // justify-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    margin-block-end: 4rem;

    &__link {
      &:link,
      &:visited {
        display: block;
        font-size: 1.3rem;
        letter-spacing: 0.4px;
        color: $color-grey-light-2;
        text-transform: uppercase;
        text-align: center;
        padding: 1.3rem 1.6rem;
        background-color: rgba(255, 255, 255, 0.025);
        transition: all 0.2s;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.05);
        transform: translateY(-2px);
      }
    }

    &:not(:last-of-type) {
      margin-inline-end: 1.6rem;
      margin-block-end: 1.6rem;
    }
  }
}
