/*
  0 - 600px: Phone
  600px - 900px: Tablet portrait
  900px - 1200px: Tabllet landscape
  1200px 1800px: Standard
  1800px+: Big desktop

  Breakpoint argument choices:
  phone, tab-port, tab-land, big-desktop
*/
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-9.6rem);
    transform: translateX(-9.6rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-9.6rem);
    transform: translateX(-9.6rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(9.6rem);
    transform: translateX(9.6rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(9.6rem);
    transform: translateX(9.6rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(4rem);
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(4rem);
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

*,
*::after,
*::before {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #787878; }
  body::-webkit-scrollbar {
    inline-size: 8px;
    background-color: #f7f7f7; }
    body::-webkit-scrollbar-track {
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 0.1);
      border: 1px solid #cccccc; }
    body::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background: #54c47a;
      border: 1px solid #27b485; }
      body::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb:active {
        background: #27b485; }

.heading-primary {
  color: #f7f7f7;
  text-align: center;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.2rem;
    -webkit-animation-name: moveInLeft;
    animation-name: moveInLeft;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 5rem;
        letter-spacing: 2rem; } }
  .heading-primary--sub {
    display: block;
    -webkit-margin-after: 4rem;
    margin-block-end: 4rem;
    font-size: 1.9rem;
    font-weight: 300;
    letter-spacing: 1.52rem;
    -webkit-margin-start: -1.6rem;
    margin-inline-start: -1.6rem;
    -webkit-animation-name: moveInRight;
    animation-name: moveInRight;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 2rem;
        letter-spacing: 0.6rem; } }
  .heading-primary--main::-moz-selection, .heading-primary--sub::-moz-selection {
    background-color: #f7f7f7;
    color: #54c47a; }
  .heading-primary--main::selection, .heading-primary--sub::selection {
    background-color: #f7f7f7;
    color: #54c47a; }

.heading-secondary {
  text-transform: uppercase;
  font-size: 3rem;
  display: inline-block;
  background-image: linear-gradient(32deg, #80d671, #27b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem;
      letter-spacing: 1px; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.3rem;
      letter-spacing: 0.5px; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 3rem rgba(0, 0, 0, 0.2); }
  .heading-secondary::selection {
    background-color: #80d671;
    color: #f7f7f7; }

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-block-end: 3.2rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-block-end: 8rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-block-end: 4.8rem; } }

.u-margin-bottom-medium {
  margin-block-end: 4rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-block-end: 3.2rem; } }

.u-margin-bottom-small {
  margin-block-end: 1.6rem; }

.u-margin-top-big {
  margin-block-start: 8rem; }
  @media (max-width: 37.5em) {
    .u-margin-top-big {
      margin-block-start: 4rem; } }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.16;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.btn, .btn:link, .btn:visited {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  padding: 1.6rem 2.8rem;
  border-radius: 3.2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  cursor: pointer; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 3.2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  letter-spacing: 0.2rem;
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.1); }
  .btn:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px); }

.btn--white {
  background: #f7f7f7;
  color: #787878; }
  .btn--white::after {
    background-color: #f7f7f7; }

.btn--green {
  background: #54c47a;
  color: #f7f7f7; }
  .btn--green::after {
    background: #27b485; }

.btn--animated {
  -webkit-animation: moveInBottom 0.5s ease-out 0.75s;
  animation: moveInBottom 0.5s ease-out 0.75s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  color: #54c47a;
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  -webkit-border-after: 1px solid #54c47a;
  border-block-end: 1px solid #54c47a;
  padding: 3px 6px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.btn-text:hover {
  color: white;
  background-color: #54c47a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
  transform: translateY(0); }

.card {
  position: relative;
  -webkit-perspective: 80rem;
  perspective: 80rem;
  padding: 2.4rem;
  height: 56rem; }
  .card__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56rem;
    border-radius: 4px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.16);
    -webkit-transition: -webkit-transform 0.8s ease;
    transition: -webkit-transform 0.8s ease;
    transition: transform 0.8s ease;
    transition: transform 0.8s ease, -webkit-transform 0.8s ease;
    color: #27b485;
    font-size: 2.4rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden; }
    .card__side--front {
      background-color: #f7f7f7; }
    .card__side--back {
      background-color: green;
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background-image: -webkit-gradient(linear, left top, right bottom, from(#ffbb00), to(#ff772e));
        background-image: linear-gradient(to right bottom, #ffbb00, #ff772e); }
      .card__side--back--2 {
        background-image: -webkit-gradient(linear, left top, right bottom, from(#80d671), to(#27b485));
        background-image: linear-gradient(to right bottom, #80d671, #27b485); }
      .card__side--back--3 {
        background-image: -webkit-gradient(linear, left top, right bottom, from(#2997ff), to(#5442fa));
        background-image: linear-gradient(to right bottom, #2997ff, #5442fa); }
  .card:hover .card__side--front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 48%;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%); }
    .card__picture--1 {
      background-image: -webkit-gradient(linear, left top, right bottom, from(#ffbb00), to(#ff772e)), url("../assets/nat-5.jpg");
      background-image: linear-gradient(to right bottom, #ffbb00, #ff772e), url("../assets/nat-5.jpg"); }
    .card__picture--2 {
      background-image: -webkit-gradient(linear, left top, right bottom, from(#80d671), to(#27b485)), url("../assets/nat-6.jpg");
      background-image: linear-gradient(to right bottom, #80d671, #27b485), url("../assets/nat-6.jpg"); }
    .card__picture--3 {
      background-image: -webkit-gradient(linear, left top, right bottom, from(#2997ff), to(#5442fa)), url("../assets/nat-7.jpg");
      background-image: linear-gradient(to right bottom, #2997ff, #5442fa), url("../assets/nat-7.jpg"); }
  .card__heading {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #f7f7f7;
    position: absolute;
    top: 12rem;
    right: 4rem;
    text-align: right;
    letter-spacing: 2px;
    width: 72%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 187, 0, 0.8)), to(rgba(255, 119, 46, 0.8)));
      background-image: linear-gradient(to right bottom, rgba(255, 187, 0, 0.8), rgba(255, 119, 46, 0.8)); }
    .card__heading-span--2 {
      background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(128, 214, 113, 0.8)), to(rgba(39, 180, 133, 0.8)));
      background-image: linear-gradient(to right bottom, rgba(128, 214, 113, 0.8), rgba(39, 180, 133, 0.8)); }
    .card__heading-span--3 {
      background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 151, 255, 0.8)), to(rgba(84, 66, 250, 0.8)));
      background-image: linear-gradient(to right bottom, rgba(41, 151, 255, 0.8), rgba(84, 66, 250, 0.8)); }
  .card__details {
    padding: 3.2rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      color: #787878; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          -webkit-border-after: 1px solid #ededed;
          border-block-end: 1px solid #ededed; }
  .card__cta {
    position: absolute;
    width: 88%;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .card__price-box {
    text-align: center;
    -webkit-margin-after: 8rem;
    margin-block-end: 8rem;
    color: #f7f7f7; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6.4rem;
    font-weight: 100; }
  @media (max-width: 56.25em) {
    .card {
      height: auto;
      padding: 0;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.16); }
      .card__side {
        position: relative;
        height: auto;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          padding: 4.8rem 2rem 2.6rem 2rem;
          -webkit-clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 12%, 100% 0, 100% 100%, 0 100%);
          margin-block-start: -3rem;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px; }
      .card:hover .card__side--front {
        -webkit-transform: rotateY(0);
        transform: rotateY(0); }
      .card__details {
        padding: 2.4rem 3.2rem 5.6rem 3.2rem; }
        .card__details ul {
          width: 64%; }
      .card__picture {
        height: 240px; }
      .card__cta {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        -webkit-transform: translate(0%);
        transform: translate(0); }
      .card__price-box {
        -webkit-margin-after: 2.4rem;
        margin-block-end: 2.4rem; }
      .card__price-value {
        font-size: 4rem; } }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      right: 0;
      top: 4rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: 0;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--p3 {
      left: 20%;
      top: 12.8rem; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 0;
          left: 0;
          transform: scale(1.1); } }
    .composition__photo:hover {
      outline: 1.2rem solid #54c47a;
      outline-offset: 1.6rem;
      -webkit-transform: scale(1.05) translateY(-0.5rem);
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
    @media (max-width: 56.25em) {
      .composition__photo {
        position: relative;
        float: left;
        width: 33.3333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
  .composition:hover .composition__photo:not(:hover) {
    -webkit-transform: scale(0.96);
    transform: scale(0.96); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.64);
  font-size: 1.5rem;
  padding: 2.4rem;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }
  .feature-box:hover {
    -webkit-transform: translateY(-1.2rem) scale(1.03);
    transform: translateY(-1.2rem) scale(1.03);
    cursor: pointer; }
  .feature-box__icon {
    font-size: 4.8rem;
    color: #54c47a;
    margin: 0 auto 2.4rem auto;
    display: block;
    width: 6.4rem;
    height: 6.4rem; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        margin: 0 auto 2rem auto; } }
  .feature-box__desc {
    font-size: 1.4rem; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }

.form__group:not(:last-child) {
  -webkit-margin-after: 0.8rem;
  margin-block-end: 0.8rem; }

.form__group:nth-child(4) {
  -webkit-margin-after: 4rem;
  margin-block-end: 4rem; }

@media (max-width: 56.25em) {
  .form input[type="text"],
  .form input[type="email"] {
    width: 100%; } }

.form__input {
  font-family: inherit;
  font-size: 1.5rem;
  display: block;
  padding: 1.6rem 2.4rem;
  border-radius: 2px;
  background-color: rgba(247, 247, 247, 0.64);
  border: none;
  -webkit-border-after: 3px solid transparent;
  border-block-end: 3px solid transparent;
  width: 90%;
  color: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    -webkit-border-after: 3px solid #54c47a;
    border-block-end: 3px solid #54c47a; }
  .form__input:focus:invalid {
    -webkit-border-after: 3px solid #ff772e;
    border-block-end: 3px solid #ff772e; }
  .form__input::-webkit-input-placeholder {
    color: #a3a3a3; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem); }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  -webkit-margin-start: 2.4rem;
  margin-inline-start: 2.4rem;
  -webkit-margin-before: 0.7rem;
  margin-block-start: 0.7rem;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.form__radio-group {
  width: 48%;
  display: inline-block; }
  @media (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin-block-end: 2rem; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  -webkit-padding-start: 4rem;
  padding-inline-start: 4rem; }

.form__radio-button {
  height: 3.2rem;
  width: 3.2rem;
  border: 4px solid #54c47a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.6rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #54c47a;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 64;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  @supports (-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(8px)) {
    .modal {
      background-color: rgba(0, 0, 0, 0.2);
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px); } }
  .modal:target {
    opacity: 1;
    visibility: visible; }
  .modal:target .modal__content {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; }
  .modal__close:link, .modal__close:visited {
    color: #333333;
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    font-size: 3.2rem;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
  .modal__close:hover {
    color: #54c47a; }
  .modal__content {
    width: 88%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.25);
    transform: translate(-50%, -50%) scale(0.25);
    opacity: 0;
    background-color: rgba(247, 247, 247, 0.9);
    border-radius: 4px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    display: table;
    overflow: hidden;
    -webkit-transition: all 0.4s 0.2s;
    transition: all 0.4s 0.2s; }
    .modal__content__left {
      width: 33.3333%;
      display: table-cell; }
    .modal__content__right {
      width: 66.6667%;
      display: table-cell;
      vertical-align: middle;
      padding: 3.2rem 5.6rem; }
    .modal__content__picture {
      display: block;
      width: 100%; }
  .modal__text {
    font-size: 1.5rem;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 4rem;
    -moz-column-gap: 4rem;
    column-gap: 4rem;
    -webkit-column-rule: 1px solid rgba(0, 0, 0, 0.05);
    -moz-column-rule: 1px solid rgba(0, 0, 0, 0.05);
    column-rule: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
  .modal__disclaimer__terms:link, .modal__disclaimer__terms:visited {
    text-decoration: none;
    color: #54c47a;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
  .modal__disclaimer__terms:hover {
    color: #27b485; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(247, 247, 247, 0.64);
  border-radius: 4px;
  padding: 6rem;
  -webkit-padding-start: 9rem;
  padding-inline-start: 9rem;
  font-size: 1.6rem;
  -webkit-transform: skewX(-12deg);
  transform: skewX(-12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-transform: translateX(-3rem) skewX(12deg);
    transform: translateX(-3rem) skewX(12deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    overflow: hidden; }
    @media (max-width: 37.5em) {
      .story__shape {
        -webkit-transform: skewX(0);
        transform: skewX(0);
        margin-inline-end: 3rem; } }
  .story__image {
    height: 100%;
    -webkit-transform: translateX(-4rem) scale(1.4);
    transform: translateX(-4rem) scale(1.4);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .story__text {
    -webkit-transform: skewX(12deg);
    transform: skewX(12deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    @media (max-width: 37.5em) {
      .story__text {
        -webkit-transform: skewX(0);
        transform: skewX(0); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 24%);
    transform: translate(-50%, 24%);
    text-transform: uppercase;
    color: #f7f7f7;
    font-size: 1.7rem;
    text-align: center;
    letter-spacing: 1px;
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .story:hover .story__image {
    -webkit-transform: translateX(-4rem) scale(1);
    transform: translateX(-4rem) scale(1);
    -webkit-filter: blur(3px) brightness(88%);
    filter: blur(3px) brightness(88%); }
  @media (max-width: 56.25em) {
    .story {
      width: 100%;
      -webkit-padding-start: 8rem;
      padding-inline-start: 8rem; } }
  @media (max-width: 37.5em) {
    .story {
      padding: 3.2rem 3.2rem 2.4rem 3.2rem;
      -webkit-transform: skewX(0);
      transform: skewX(0); } }

.footer {
  background-color: #333333;
  padding: 8rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  .footer .row {
    padding: 0 4.8rem; }
    @media (max-width: 56.25em) {
      .footer .row {
        max-width: 64%; } }
    @media (max-width: 37.5em) {
      .footer .row {
        max-width: 80%; } }
  .footer__logo-box {
    -moz-text-align-last: center;
    text-align-last: center;
    -webkit-margin-after: 8rem;
    margin-block-end: 8rem; }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        -webkit-margin-after: 4.8rem;
        margin-block-end: 4.8rem; } }
  .footer__logo {
    width: 16rem;
    height: auto; }
  .footer__navigation {
    -webkit-border-before: 1px solid rgba(255, 255, 255, 0.04);
    border-block-start: 1px solid rgba(255, 255, 255, 0.04);
    -webkit-padding-before: 2rem;
    padding-block-start: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center;
        -webkit-border-before: none;
        border-block-start: none; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      -webkit-margin-end: 1.6rem;
      margin-inline-end: 1.6rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: #54c47a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    -webkit-transform: rotate(-5deg) scale(1.3);
    transform: rotate(-5deg) scale(1.3); }
  .footer__copyright {
    -webkit-border-before: 1px solid rgba(255, 255, 255, 0.04);
    border-block-start: 1px solid rgba(255, 255, 255, 0.04);
    -webkit-padding-before: 2rem;
    padding-block-start: 2rem;
    width: 70%;
    float: right; }
    .footer__copyright a:link, .footer__copyright a:visited {
      text-decoration: none;
      color: #54c47a;
      -webkit-transition: color 0.3s;
      transition: color 0.3s; }
    .footer__copyright a:hover {
      color: #27b485; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        -webkit-border-before: none;
        border-block-start: none;
        -webkit-padding-before: 0;
        padding-block-start: 0;
        width: 100%;
        float: none;
        text-align: center; } }
    @media (max-width: 37.5em) {
      .footer__copyright {
        width: 80%;
        margin: 0 auto; } }
  @media (max-width: 56.25em) {
    .footer {
      padding: 6rem 0; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-block-end: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-block-end: 6rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-inline-end: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-inline-end: 0;
          margin-block-end: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (6rem) * 2) / 3); }
  .row .col-2-of-3 {
    width: calc( 100% - 6rem - calc((100% - (6rem) * 2) / 3)); }
  .row .col-1-of-4 {
    width: calc((100% - (6rem) * 3) / 4); }
  .row .col-3-of-4 {
    width: calc( 100% - 6rem - calc((100% - (6rem) * 3) / 4)); }
  @media (max-width: 56.25em) {
    .row {
      max-width: 64%; } }

.header {
  position: relative;
  height: 96vh;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(128, 214, 113, 0.8)), to(rgba(39, 180, 133, 0.8))), url("../assets/hero-small.jpg");
  background-image: linear-gradient(to right, rgba(128, 214, 113, 0.8), rgba(39, 180, 133, 0.8)), url("../assets/hero-small.jpg");
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    .header {
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(128, 214, 113, 0.8)), to(rgba(39, 180, 133, 0.8))), url("../assets/hero.jpg");
      background-image: linear-gradient(to right, rgba(128, 214, 113, 0.8), rgba(39, 180, 133, 0.8)), url("../assets/hero.jpg"); } }
  .header__logo {
    position: absolute;
    top: 4rem;
    left: 4rem;
    padding: 0.8rem; }
    .header__logo__img {
      height: 4rem; }
  .header__main-content {
    position: absolute;
    top: 44%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center; }
  @media (max-width: 56.25em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 86vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 86vh, 0 100%); } }

.navigation__checkbox {
  display: none; }
  .navigation__checkbox:checked ~ .navigation__background {
    -webkit-transform: scale(88);
    transform: scale(88); }
  .navigation__checkbox:checked ~ .navigation__menu {
    width: 100%;
    opacity: 1; }

.navigation__button {
  position: fixed;
  top: 5.2rem;
  right: 5.2rem;
  z-index: 48;
  height: 7.2rem;
  width: 7.2rem;
  background-color: #f7f7f7;
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }
  .navigation__button:hover {
    cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 3.2rem;
      right: 3.2rem; } }

.navigation__background {
  position: fixed;
  top: 5.6rem;
  right: 5.6rem;
  z-index: 32;
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 50%;
  background-image: radial-gradient(#80d671, #27b485);
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3.2rem;
      right: 3.2rem; } }

.navigation__menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  height: 100vh;
  width: 0;
  opacity: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  .navigation__menu__list {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    list-style: none;
    text-align: center; }
  .navigation__menu__item:not(:last-of-type) {
    -webkit-margin-after: 1rem;
    margin-block-end: 1rem; }
  .navigation__menu__link:link, .navigation__menu__link:visited {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 100;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem 1.6rem;
    color: #f7f7f7;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #f7f7f7 50%);
    background-size: 240%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .navigation__menu__link:hover, .navigation__menu__link:active {
    background-position: 100%;
    color: #54c47a;
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem); }
  .navigation__menu__link span {
    display: inline-block;
    -webkit-margin-end: 1.2rem;
    margin-inline-end: 1.2rem;
    font-size: 1.8rem; }

.navigation__icon {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    display: inline-block;
    width: 3.2rem;
    height: 2px;
    background-color: #a3a3a3;
    border-radius: 4px; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -9px; }
  .navigation__icon::after {
    top: 9px; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  top: 0; }

.section-about {
  background-color: #f7f7f7;
  padding: 24rem 0 28rem 0;
  -webkit-margin-before: -16vh;
  margin-block-start: -16vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 18rem 0; } }

.section-features {
  padding: 24rem 0;
  -webkit-margin-before: -8rem;
  margin-block-start: -8rem;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(128, 214, 113, 0.8)), to(rgba(39, 180, 133, 0.8))), url("../assets/nat-4.jpg");
  background-image: linear-gradient(to right, rgba(128, 214, 113, 0.8), rgba(39, 180, 133, 0.8)), url("../assets/nat-4.jpg");
  background-size: cover;
  background-position: center;
  -webkit-transform: skewY(-4.8deg);
  transform: skewY(-4.8deg); }
  .section-features > * {
    -webkit-transform: skewY(4.8deg);
    transform: skewY(4.8deg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 12rem 0; } }

.section-tours {
  background-color: #f7f7f7;
  padding: 23rem 0 16rem 0;
  -webkit-margin-before: -8rem;
  margin-block-start: -8rem; }
  @media (max-width: 56.25em) {
    .section-tours .row {
      max-width: 60%; } }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 16rem 0 8rem 0; } }

.section-stories {
  position: relative;
  padding: 12rem 0; }
  @media (max-width: 37.5em) {
    .section-stories .row {
      max-width: 72%; } }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 8rem 0; } }

.section-book {
  padding: 16rem 0;
  background-image: linear-gradient(to right bottom, #80d671, #27b485); }
  @media (max-width: 75em) {
    .section-book .row {
      max-width: 80%; } }
  @media (max-width: 75em) {
    .section-book {
      padding: 10rem 0; } }

.book {
  background-image: linear-gradient(104deg, rgba(247, 247, 247, 0.9) 0%, rgba(247, 247, 247, 0.9) 56%, transparent 56%), url("../assets/nat-10.jpg");
  background-size: cover;
  border-radius: 4px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.24); }
  .book__form {
    width: 50%;
    padding: 5.6rem; }
    @media (max-width: 75em) {
      .book__form {
        width: 64%; } }
    @media (max-width: 56.25em) {
      .book__form {
        width: 100%; } }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(247, 247, 247, 0.9) 0%, rgba(247, 247, 247, 0.9) 100%), url("../assets/nat-10.jpg"); } }
