.card {
  position: relative;
  -webkit-perspective: 80rem;
  perspective: 80rem;
  padding: 2.4rem;
  height: 56rem;

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56rem;
    border-radius: 4px;
    box-shadow: 0 1.5rem 4rem hsla(0, 0%, 0%, 0.16);
    -webkit-transition: -webkit-transform 0.8s ease;
    transition: -webkit-transform 0.8s ease;
    transition: transform 0.8s ease;
    transition: transform 0.8s ease, -webkit-transform 0.8s ease;
    color: $green-dark;
    font-size: 2.4rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;

    &--front {
      background-color: $white;
    }

    &--back {
      background-color: green;
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);

      &--1 {
        background-image: -webkit-gradient(
          linear,
          left top,
          right bottom,
          from($yellow-light),
          to($yellow-dark)
        );
        background-image: linear-gradient(
          to right bottom,
          $yellow-light,
          $yellow-dark
        );
      }

      &--2 {
        background-image: -webkit-gradient(
          linear,
          left top,
          right bottom,
          from($green-light),
          to($green-dark)
        );
        background-image: linear-gradient(
          to right bottom,
          $green-light,
          $green-dark
        );
      }

      &--3 {
        background-image: -webkit-gradient(
          linear,
          left top,
          right bottom,
          from($blue-light),
          to($blue-dark)
        );
        background-image: linear-gradient(
          to right bottom,
          $blue-light,
          $blue-dark
        );
      }
    }
  }

  &:hover &__side--front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }

  &__picture {
    background-size: cover;
    height: 48%;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);

    &--1 {
      background-image: -webkit-gradient(
          linear,
          left top,
          right bottom,
          from($yellow-light),
          to($yellow-dark)
        ),
        url("../assets/nat-5.jpg");
      background-image: linear-gradient(
          to right bottom,
          $yellow-light,
          $yellow-dark
        ),
        url("../assets/nat-5.jpg");
    }

    &--2 {
      background-image: -webkit-gradient(
          linear,
          left top,
          right bottom,
          from($green-light),
          to($green-dark)
        ),
        url("../assets/nat-6.jpg");
      background-image: linear-gradient(
          to right bottom,
          $green-light,
          $green-dark
        ),
        url("../assets/nat-6.jpg");
    }

    &--3 {
      background-image: -webkit-gradient(
          linear,
          left top,
          right bottom,
          from($blue-light),
          to($blue-dark)
        ),
        url("../assets/nat-7.jpg");
      background-image: linear-gradient(
          to right bottom,
          $blue-light,
          $blue-dark
        ),
        url("../assets/nat-7.jpg");
    }
  }

  &__heading {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 400;
    color: $white;
    position: absolute;
    top: 12rem;
    right: 4rem;
    text-align: right;
    letter-spacing: 2px;
    width: 72%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        from($yellow-light-80),
        to($yellow-dark-80)
      );
      background-image: linear-gradient(
        to right bottom,
        $yellow-light-80,
        $yellow-dark-80
      );
    }

    &--2 {
      background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        from($green-light-80),
        to($green-dark-80)
      );
      background-image: linear-gradient(
        to right bottom,
        $green-light-80,
        $green-dark-80
      );
    }

    &--3 {
      background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        from($blue-light-80),
        to($blue-dark-80)
      );
      background-image: linear-gradient(
        to right bottom,
        $blue-light-80,
        $blue-dark-80
      );
    }
  }

  &__details {
    padding: 3.2rem;

    & ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      color: $gray-text;

      & li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          -webkit-border-after: 1px solid $gray-light-2;
          border-block-end: 1px solid $gray-light-2;
        }
      }
    }
  }

  // Back side of the card
  &__cta {
    position: absolute;
    width: 88%;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  &__price-box {
    text-align: center;
    -webkit-margin-after: 8rem;
    margin-block-end: 8rem;
    color: $white;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6.4rem;
    font-weight: 100;
  }
}
