.form {
  &__group {
    &:not(:last-child) {
      -webkit-margin-after: 0.8rem;
      margin-block-end: 0.8rem;
    }

    &:nth-child(4) {
      -webkit-margin-after: 4rem;
      margin-block-end: 4rem;
    }
  }

  &__input {
    font-family: inherit;
    font-size: 1.5rem;
    display: block;
    padding: 1.6rem 2.4rem;
    border-radius: 2px;
    background-color: $white-64;
    border: none;
    -webkit-border-after: 3px solid transparent;
    border-block-end: 3px solid transparent;
    width: 90%;
    color: inherit;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem hsla(0, 0%, 0%, 0.1);
      -webkit-border-after: 3px solid $green-medium;
      border-block-end: 3px solid $green-medium;
    }

    &:focus:invalid {
      -webkit-border-after: 3px solid $yellow-dark;
      border-block-end: 3px solid $yellow-dark;
    }

    &::-webkit-input-placeholder {
      color: $gray-light-4;
    }

    &:placeholder-shown + .form__label {
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translateY(-4rem);
      transform: translateY(-4rem);
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    -webkit-margin-start: 2.4rem;
    margin-inline-start: 2.4rem;
    -webkit-margin-before: 0.7rem;
    margin-block-start: 0.7rem;
    display: block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  &__radio-group {
    width: 48%;
    display: inline-block;
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $body-font-size;
    cursor: pointer;
    position: relative;
    -webkit-padding-start: 4rem;
    padding-inline-start: 4rem;
  }

  &__radio-button {
    height: 3.2rem;
    width: 3.2rem;
    border: 4px solid $green-medium;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.6rem;

    &::after {
      content: "";
      display: block;
      height: 1.8rem;
      width: 1.8rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-color: $green-medium;
      opacity: 0;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }
  // FIXME: Radio buttons selection
}
