.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem hsla(0, 0%, 0%, 0.1);
  background-color: $white-64;
  border-radius: 4px;
  padding: 6rem;
  -webkit-padding-start: 9rem;
  padding-inline-start: 9rem;
  font-size: $body-font-size;
  -webkit-transform: skewX(-12deg);
  transform: skewX(-12deg);

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-transform: translateX(-3rem) skewX(12deg);
    transform: translateX(-3rem) skewX(12deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    overflow: hidden;

    @include respond(phone) {
      -webkit-transform: skewX(0);
      transform: skewX(0);
      margin-inline-end: 3rem;
    }
  }

  &__image {
    height: 100%;
    -webkit-transform: translateX(-4rem) scale(1.4);
    transform: translateX(-4rem) scale(1.4);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &__text {
    -webkit-transform: skewX(12deg);
    transform: skewX(12deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    @include respond(phone) {
      -webkit-transform: skewX(0);
      transform: skewX(0);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 24%);
    transform: translate(-50%, 24%);
    text-transform: uppercase;
    color: $white;
    font-size: 1.7rem;
    text-align: center;
    letter-spacing: 1px;
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  &:hover &__image {
    -webkit-transform: translateX(-4rem) scale(1);
    transform: translateX(-4rem) scale(1);
    -webkit-filter: blur(3px) brightness(88%);
    filter: blur(3px) brightness(88%);
  }

  @include respond(tab-port) {
    width: 100%;
    -webkit-padding-start: 8rem;
    padding-inline-start: 8rem;
  }

  @include respond(phone) {
    padding: 3.2rem 3.2rem 2.4rem 3.2rem;
    -webkit-transform: skewX(0);
    transform: skewX(0);
  }
}
