html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largest) {
    font-size: 56%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;

  &::selection {
    background-color: $color-primary;
    color: hsl(0, 0%, 100%);
  }
}

body {
  font-family: $font-body;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem;
  color: $color-secondary;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

  &::-webkit-scrollbar {
    inline-size: 8px;
    background-color: hsl(0, 0%, 100%);

    &-track {
      border-radius: 8px;
      background-color: hsla(0, 0%, 0%, 0.1);
      border: 1px solid hsl(0, 0%, 80%);
    }

    &-thumb {
      border-radius: 8px;
      background: $color-primary;
      border: 1px solid $color-primary-dark;

      &:hover,
      &:active {
        background: $color-primary-dark;
      }
    }
  }
}

a {
  text-decoration: none;
}

.heading-1,
.heading-2,
.heading-4 {
  font-family: $font-display;
}

.heading-1 {
  font-size: 4.8rem;
  color: $color-grey-light-1;
  line-height: 1.4;
}

.heading-2 {
  font-size: 4rem;
  line-height: 1.3;
}

.heading-3 {
  text-transform: uppercase;
  font-family: $font-body;
  color: $color-primary;
  font-size: 1.6rem;
  letter-spacing: 1.6px;
}

.heading-4 {
  font-weight: 500;

  &--light {
    color: $color-grey-light-1;
  }

  &--dark {
    color: $color-grey-dark-1;
  }
}
