.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-block-end: 8rem;

  @include respond(tab-port) {
    margin-block-end: 4.8rem;
  }
}

.u-margin-bottom-medium {
  margin-block-end: 4rem;

  @include respond(tab-port) {
    margin-block-end: 3.2rem;
  }
}

.u-margin-bottom-small {
  margin-block-end: 1.6rem;
}

.u-margin-top-big {
  margin-block-start: 8rem;

  @include respond(phone) {
    margin-block-start: 4rem;
  }
}
