.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--gray-light-1);
  box-shadow: var(--shadow-dark);
}

.header {
  height: 8rem;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray-light-2);
  padding: 0 2.4rem 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: inline-block;
    height: 3.2rem;
  }
}

.content {
  display: flex;
}

.sidebar {
  min-height: 48rem;
  padding: 5.6rem 0 1.6rem 0;
  background-color: var(--gray-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__menu {
    list-style: none;
    display: flex;
    flex-direction: column;

    &__item {
      height: 5.6rem;
      padding: 1rem 1.6rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;

      &:not(:last-of-type) {
        margin-block-end: 0.8rem;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--fucsia);
        transform: scaleY(0);
        transition: transform 0.2s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s;
        transform-origin: center;
      }

      &:hover::before {
        transform: scaleY(1);
        width: 100%;
      }

      &--active {
        background-color: var(--fucsia);
      }

      & span {
        color: var(--gray-light-3);
        font-weight: 300;
        font-size: 1.4rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        z-index: 10;
      }
    }
  }

  &__icon {
    height: 1.8rem;
    width: 1.8rem;
    fill: var(--gray-light-3);
    margin-inline-end: 1rem;
    z-index: 10;
  }

  &__legal {
    color: var(--gray-light-4);
    font-size: 1.3rem;
    line-height: 1.5;
    text-align: center;
    width: 80%;
    align-self: center;
  }
}

.movie {
  background-color: var(--white);
  flex: 1;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 3.2rem;
  }
}

.movie-info {
  &__title {
    display: flex;
    align-items: baseline;
    line-height: 1;
    margin-block-end: 1.6rem;

    &--title {
      margin-inline-end: 1rem;
    }

    &--year {
      font-size: 2.6rem;

      & a:link,
      & a:visited {
        color: inherit;

        &:hover {
          color: var(--fucsia);
        }
      }
    }
  }

  &__original-title {
    color: var(--gray-dark-2);
    margin-block-end: 1.2rem;
    font-size: 1.6rem;
    padding-inline-start: 3px;

    & span {
      font-size: 1.3rem;
      color: var(--gray-dark-3);
    }
  }

  &__misc-details {
    list-style: none;
    font-size: 1.3rem;
    line-height: 1.1;
    padding-inline-start: 3px;
    color: var(--gray-dark-2);
  }

  &__detail {
    display: inline-block;

    &:not(:last-of-type) {
      padding-right: 1.2rem;
      margin-inline-end: 1.2rem;
      border-right: 1px solid var(--gray-dark-3);
    }

    & a:link,
    & a:visited {
      color: inherit;

      &:hover {
        color: var(--fucsia);
      }
    }
  }
}

.movie__header__rating {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__top {
    @include flex-abs-center;
    margin-block-end: 0.8rem;
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    fill: var(--fucsia);
    margin-inline-end: 1rem;
  }

  &__score {
    display: flex;
    align-items: baseline;
    line-height: 1;

    &--own {
      font-size: 3.2rem;
      font-weight: 300;
    }

    &--top {
      font-size: 1.3rem;
      color: var(--gray-dark-3);
    }
  }

  &__votes {
    font-size: 1.3rem;
    border-top: 1px solid var(--gray-light-3);
    padding-top: 0.8rem;
  }
}

.movie-meta {
  padding: 2.4rem 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__plot {
    width: 88%;
    margin-block-end: 1.6rem;
  }
}

.movie-credits {
  flex: 0 0 80%;
}

.movie-credits-list {
  list-style: none;
  margin-block-end: 2.4rem;
}

.movie-credit {
  padding: 0.2rem 0;
  margin-block-end: 0.3rem;

  & a:link,
  & a:visited {
    color: var(--fucsia);

    &:hover {
      text-decoration: underline;
    }
  }
}
