$color-primary: hsl(33, 46%, 58%);
$color-primary-dark: hsl(32, 39%, 51%);

$color-secondary: hsl(212, 47%, 12%);

$color-grey-light-1: hsl(20, 20%, 97%);
$color-grey-light-2: hsl(0, 0%, 67%);

$color-grey-dark-1: hsl(32, 18%, 28%);
$color-grey-dark-2: hsl(32, 18%, 36%);

// Fonts
$font-display: "Expletus Sans", cursive;
$font-body: "Didact Gothic", sans-serif;

// Responsive Breakpoints
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 47.5em; // 760px
$bp-small: 37.5em; // 600px
