.search-form {
  padding: 0.4rem 1.2rem;
  display: flex;
  align-items: center;
  background-color: var(--gray-light-2);
  border-radius: 4px;
  height: auto;
  margin-inline-start: 15%;

  &__input {
    height: 3.2rem;
    width: 25.6rem;
    background-color: inherit;
    border: none;
    font-family: "Rubik", sans-serif;
    color: var(--gray-dark-1);

    &::placeholder {
      font-family: inherit;
    }
  }

  &__button {
    border: none;
    background-color: var(--gray-light-2);
    cursor: pointer;
    @include flex-abs-center;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--gray-dark-2);
  }
}

.user-nav {
  list-style: none;
  @include flex-abs-center;

  &__item {
    cursor: pointer;
    position: relative;

    &:not(:last-of-type) {
      padding: 2px 1px;
      margin-inline-end: 0.4rem;
      @include flex-abs-center;
    }
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    padding: 0.8rem;
    fill: var(--gray-dark-1);
  }

  &__stats {
    @include flex-abs-center;
    font-size: 0.9rem;
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    top: 0.2rem;
    right: 0.4rem;
    background-color: var(--fucsia);
    color: var(--white);
    z-index: 8;
    border-radius: 100%;
  }

  &__profile {
    @include flex-abs-center;
    padding-inline-start: 1rem;

    & img {
      height: 4rem;
      border-radius: 50%;
      margin-inline-end: 0.8rem;
    }

    & span {
      font-size: 1.4rem;
      color: var(--gray-dark-2);
    }
  }
}

.movie-gallery {
  display: flex;

  &__item {
    width: calc(100% / 3);
    height: 20rem;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    display: block;
  }
}

.movie-critics {
  list-style: none;
  flex: 0 0 23%;
  margin-block-end: 1.6rem;
}

.movie-critic {
  display: flex;
  align-items: center;

  &:not(:last-of-type) {
    margin-block-end: 2.4rem;
  }
}

.metascore-score {
  font-size: 2rem;
  padding: 0.4rem;
  background: var(--fucsia);
  color: var(--white);
  width: 4.8rem;
  height: 4.8rem;
  @include flex-abs-center;
  margin-inline-end: 1rem;
}

.metascore-info {
  &__title {
    font-size: 1.5rem;
    display: block;
    line-height: 1;
    margin-block-end: 0.8rem;
  }

  &__desc {
    font-size: 1.2rem;
    display: block;
    line-height: 1;

    & a:link,
    & a:visited {
      color: var(--fucsia);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.reviews {
  &__icon {
    width: 4.8rem;
    height: 4.8rem;
    padding: 1.2rem;
    background: var(--fucsia);
    fill: var(--white);
    margin-inline-end: 1rem;
  }
}

.reviews__info {
  &__title {
    font-size: 1.5rem;
    display: block;
    line-height: 1;
    margin-block-end: 0.8rem;
  }

  &__desc {
    font-size: 1.2rem;
    display: block;
    line-height: 1;
  }
}

.popularity {
  &__icon {
    width: 4.8rem;
    height: 4.8rem;
    padding: 1.2rem;
    background: var(--fucsia);
    fill: var(--white);
    margin-inline-end: 1rem;
  }
}

.popularity__info {
  &__title {
    font-size: 1.5rem;
    display: block;
    line-height: 1;
    margin-block-end: 0.8rem;
  }

  &__desc {
    font-size: 1.2rem;
    display: block;
    line-height: 1;
  }
}

.cta {
  @include flex-abs-center;
  padding: 1.2rem 2rem;
  width: 25.6rem;
  background: var(--fucsia);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;

  &__text {
    color: var(--white);
    font-size: 1.6rem;
    margin: 0 1rem;
  }

  &__icon {
    width: 2.2rem;
    height: 2.2rem;
    fill: var(--white);
  }

  &:hover {
    background: var(--fucsia-dark);
  }
}

// Alternate list
.alt-list {
  width: 64%;
  margin-block-end: 0;
  list-style: none;

  &__item {
    margin-inline-start: 2.4rem;
    position: relative;

    & span {
      font-weight: 500;
    }

    &:not(:last-of-type) {
      margin-block-end: 1.6rem;
    }

    &::before {
      content: "\BB";
      position: absolute;
      top: 0;
      left: 0;
      margin-inline-start: -1.6rem;
      color: var(--fucsia);
    }

    & a:link,
    & a:visited {
      color: var(--fucsia);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.cta-inline {
  &:link,
  &:visited {
    color: var(--fucsia);

    &:hover {
      text-decoration: underline;
    }
  }
}
