.search-form {
  padding: 0.4rem 1.2rem;
  display: flex;
  align-items: center;
  background-color: var(--gray-light-2);
  border-radius: 4px;
  height: auto;
  margin-inline-start: 15%;

  @media screen and (max-width: $bp-phone-xl) {
    display: none;
  }

  &__input {
    height: 3.2rem;
    width: 25.6rem;
    background-color: inherit;
    border: none;
    font-family: "Rubik", sans-serif;
    color: var(--gray-dark-1);

    @media screen and (max-width: $bp-tablet) {
      width: 19.6rem;
      font-size: 1.4rem;
    }

    @media screen and (max-width: $bp-tablet-xs) {
      height: 2.8rem;
    }

    &::placeholder {
      font-family: inherit;

      @media screen and (max-width: $bp-tablet-xs) {
        font-size: 1.2rem;
      }
    }
  }

  &__button {
    border: none;
    background-color: var(--gray-light-2);
    cursor: pointer;
    @include flex-abs-center;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--gray-dark-2);

    @media screen and (max-width: $bp-tablet-xs) {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}

.user-nav {
  list-style: none;
  @include flex-abs-center;

  &__item {
    cursor: pointer;
    position: relative;

    &:not(:last-of-type) {
      padding: 2px 1px;
      margin-inline-end: 0.4rem;
      @include flex-abs-center;
    }
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    padding: 0.8rem;
    fill: var(--gray-dark-1);

    @media screen and (max-width: $bp-tablet-xs) {
      padding: 0.6rem;
      width: 3.2rem;
      height: 3.2rem;
    }
  }

  &__stats {
    @include flex-abs-center;
    font-size: 0.9rem;
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    top: 0.2rem;
    right: 0.4rem;
    background-color: var(--fucsia);
    color: var(--white);
    z-index: 8;
    border-radius: 100%;

    @media screen and (max-width: $bp-tablet-xs) {
      font-size: 0.8rem;
      width: 1.4rem;
      height: 1.4rem;
      top: 0.1rem;
      right: 0.2rem;
    }
  }

  &__profile {
    @include flex-abs-center;
    padding-inline-start: 1rem;

    & img {
      height: 4rem;
      border-radius: 50%;
      margin-inline-end: 0.8rem;

      @media screen and (max-width: $bp-tablet-xs) {
        height: 3.2rem;
      }

      @media screen and (max-width: $bp-phone-s) {
        margin-inline-end: 0;
      }
    }

    & span {
      font-size: 1.4rem;
      color: var(--gray-dark-2);

      @media screen and (max-width: $bp-tablet-xs) {
        font-size: 1.3rem;
      }

      @media screen and (max-width: $bp-phone) {
        display: none;
      }
    }

    @media screen and (max-width: $bp-tablet-xs) {
      padding-inline-start: 0.8rem;
    }
  }
}

.movie-gallery {
  display: flex;

  &__item {
    width: calc(100% / 3);
    height: 20rem;
    overflow: hidden;

    @media screen and (max-width: $bp-phone-x) {
      height: 14rem;
    }
  }

  &__image {
    width: 100%;
    display: block;
  }

  &__item:not(:first-of-type) &__image {
    height: 100%;
  }
}

.movie-critics {
  list-style: none;
  flex: 0 0 23%;
  margin-block-end: 1.6rem;

  @media screen and (max-width: $bp-tablet) {
    margin-block-end: 0;
    display: flex;
    width: 100%;
  }

  @media screen and (max-width: $bp-phone-xs) {
    flex-direction: column;
  }
}

.movie-critic {
  display: flex;
  align-items: center;

  &:not(:last-of-type) {
    margin-block-end: 2.4rem;

    @media screen and (max-width: $bp-tablet) {
      margin-block-end: 0;
      margin-inline-end: 4rem;
    }

    @media screen and (max-width: $bp-phone-xl) {
      margin-inline-end: 3.2rem;
    }

    @media screen and (max-width: $bp-phone-xs) {
      margin-inline-end: 0;
      margin-block-end: 2.4rem;
    }
  }
}

.metascore-score {
  font-size: 2rem;
  padding: 0.4rem;
  background: var(--fucsia);
  color: var(--white);
  width: 4.8rem;
  height: 4.8rem;
  @include flex-abs-center;
  margin-inline-end: 1rem;

  @media screen and (max-width: $bp-tablet-xs) {
    font-size: 3.2rem;
    padding: 0;
    background: var(--white);
    color: var(--fucsia);
    margin-inline-end: 0.4rem;
    letter-spacing: -1.2px;
  }

  @media screen and (max-width: $bp-phone-x) {
    display: none;
  }
}

.metascore-info {
  &__title {
    font-size: 1.5rem;
    display: block;
    line-height: 1;
    margin-block-end: 0.8rem;

    @media screen and (max-width: $bp-tablet-xs) {
      margin-block-end: 0.4rem;
    }

    @media screen and (max-width: $bp-phone-xl) {
      font-size: 1.4rem;
    }
  }

  &__desc {
    font-size: 1.2rem;
    display: block;
    line-height: 1;

    & a:link,
    & a:visited {
      color: var(--fucsia);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.reviews {
  &__icon {
    width: 4.8rem;
    height: 4.8rem;
    padding: 1.2rem;
    background: var(--fucsia);
    fill: var(--white);
    margin-inline-end: 1rem;

    @media screen and (max-width: $bp-tablet-xs) {
      width: 4rem;
      height: 4rem;
      padding: 0;
      background: var(--white);
      fill: var(--fucsia);
      margin-inline-end: 0.8rem;
    }

    @media screen and (max-width: $bp-phone-x) {
      display: none;
    }
  }
}

.reviews__info {
  &__title {
    font-size: 1.5rem;
    display: block;
    line-height: 1;
    margin-block-end: 0.8rem;

    @media screen and (max-width: $bp-phone-xl) {
      font-size: 1.4rem;
    }
  }

  &__desc {
    font-size: 1.2rem;
    display: block;
    line-height: 1;
  }
}

.popularity {
  &__icon {
    width: 4.8rem;
    height: 4.8rem;
    padding: 1.2rem;
    background: var(--fucsia);
    fill: var(--white);
    margin-inline-end: 1rem;

    @media screen and (max-width: $bp-tablet-xs) {
      width: 4rem;
      height: 4rem;
      padding: 0;
      background: var(--white);
      fill: var(--fucsia);
      margin-inline-end: 0.8rem;
    }

    @media screen and (max-width: $bp-phone-x) {
      display: none;
    }
  }
}

.popularity__info {
  &__title {
    font-size: 1.5rem;
    display: block;
    line-height: 1;
    margin-block-end: 0.8rem;

    @media screen and (max-width: $bp-phone-xl) {
      font-size: 1.4rem;
    }
  }

  &__desc {
    font-size: 1.2rem;
    display: block;
    line-height: 1;
  }
}

.cta {
  width: 25.6rem;
  margin: 0 auto;
  display: block;
  background-image: linear-gradient(
    to right,
    var(--fucsia-light),
    var(--fucsia-dark)
  );
  font-family: "Rubik", sans-serif;
  line-height: 1;
  border: none;
  border-radius: 32px;
  color: var(--white);
  font-size: 1.4rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;

  & > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.3s;
  }

  &__text-visible {
    padding: 2rem 7.5rem;

    @media screen and (max-width: $bp-tablet) {
      padding: 1.4rem 7.5rem;
    }
  }

  &__text-invisible {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%;

    @media screen and (max-width: $bp-tablet) {
      padding: 1.4rem 0;
    }
  }

  &:hover {
    background-image: linear-gradient(
      to left,
      var(--fucsia-light),
      var(--fucsia-dark)
    );
  }

  &:hover &__text-visible {
    transform: translateY(100%);
  }

  &:hover &__text-invisible {
    top: 0;
  }

  @media screen and (max-width: $bp-tablet) {
    font-size: 1.3rem;
    width: 19.6rem;
  }
}

// Alternate list
.alt-list {
  width: 64%;
  margin-block-end: 0;
  list-style: none;

  @media screen and (max-width: $bp-tablet-xs) {
    width: 80%;
  }

  @media screen and (max-width: $bp-phone-xl) {
    font-size: 1.4rem;
  }

  &__item {
    margin-inline-start: 2.4rem;
    position: relative;

    & span {
      font-weight: 500;
    }

    &:not(:last-of-type) {
      margin-block-end: 1.6rem;
    }

    &::before {
      content: "\BB";
      position: absolute;
      top: 0;
      left: 0;
      margin-inline-start: -1.6rem;
      color: var(--fucsia);
    }

    & a:link,
    & a:visited {
      color: var(--fucsia);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.cta-inline {
  &:link,
  &:visited {
    color: var(--fucsia);

    &:hover {
      text-decoration: underline;
    }
  }
}
